<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/shugo/Dropbox/MLAB/study/dlibProjects/webcam_face_pose_ex/webcam_face_pose_ex.xcodeproj</string>
</dict>
</plist>
